<header>
    @await Html.PartialAsync("_carousel")

    <div class="jumbotron jumbotron-fluid my-3">
        <div class="container">
            <h1 class="display-4">MyProject</h1>
            <p class="lead">Burada, yenilikçi ve esnek çözümlerle size ilham vermek için varız. Keşfedin, ilham alın ve yolculuğunuzda bizimle ilerleyin. Her şey mümkün!</p>
        </div>
    </div>
</header>