<header>
    @await Html.PartialAsync("_carousel")
    <div class="jumbotron jumbotron-fluid my-4">
        <div class="container">
            <h1 class="display-4">MyProject</h1>
            <p class="lead">Çeşitli işlemleri kolayca gerçekleştirmenizi sağlayan bir yönetim sistemidir. Kullanıcı dostu arayüzü ve 
                güçlü özellikleri ile işlerinizin daha verimli ve düzenli bir şekilde yapılmasını sağlar. İhtiyaçlarınıza göre esneklik sunarak, 
                her türlü işlemi hızlı ve etkin bir biçimde yönetmenizi mümkün kılar.</p>
        </div>
    </div>
</header>