<header>
    @await Html.PartialAsync("_carousel")

    <div class="jumbotron jumbotron-fluid my-3">
        <div class="container">
            <h1 class="display-4">MyBookLibrary</h1>
            <p class="lead">kitap ekleme, silme, güncelleme ve arama işlemlerini kolayca yapmanızı sağlayan bir
                kütüphane yönetim sistemidir. Kullanıcı dostu arayüzü ve güçlü özellikleri ile kütüphane yönetimini daha
                verimli hale getirir.</p>
        </div>
    </div>
</header>