<form action="/search" class="form-inline my-2 my-md-0">
    <div class="form-group">
        <input name="q" type="text" class="form-control" placeholder="Search">
        <button type="submit" class="btn btn-success mx-2">Ara</button>
    </div>
</form>